 @charset "UTF-8";      
 body {
	font-family: "나눔스퀘어";
}

.navigation_bar {
    position: relative;
    z-index: 9998;
    width:900px;
    height:50px;
    background-color: #5e6b9e;
}

.navigation_bar .gnb_main {
    float: left;
    height: 50px;
    color: #f4ffff;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
}
        
.box3 {
	box-sizing: border-box;
	width: 900px;
	margin: 0 auto;
	padding: 0;

}

.class_item  {
	color: #fff;
	display: block;
	margin: 16px 0px 5px 20px;

}

.class_item2  {
	color: #fff;
	display: block;
	margin: 16px 0px 5px 20px;

}

.class_item3  {
	color: #f4ffff;
	display: block;
	margin: 16px 0px 5px 40px;

}


