<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sesoc.team2.vo.User_infoVO" alias="User_infoVO"/> 
		<typeAlias type="com.sesoc.team2.vo.BlogPost" alias="BlogPostVO"/> 
		<typeAlias type="com.sesoc.team2.vo.PostComment" alias="PostCommentVO"/> 
		<typeAlias type="com.sesoc.team2.vo.cart_book" alias="cart_bookVO"/>
		<typeAlias type="com.sesoc.team2.vo.user_wishlist" alias="user_wishlistVO"/> 
		<typeAlias type="com.sesoc.team2.vo.Message" alias="messageVO"/>
		<typeAlias type="com.sesoc.team2.vo.BlogMain" alias="BlogMain" /> 
		<typeAlias type="com.sesoc.team2.vo.API" alias="APIVO" /> 
		<typeAlias type="com.sesoc.team2.vo.BookReview" alias="reviewVO" />
		<typeAlias type="com.sesoc.team2.vo.Book" alias="bookVO" /> 
		<typeAlias type="com.sesoc.team2.vo.Follow" alias="follow" /> 		
		<typeAlias type="com.sesoc.team2.vo.Chatroom" alias="chatroom" /> 	
		<typeAlias type="com.sesoc.team2.vo.Chat" alias="chat" />
		<typeAlias type="com.sesoc.team2.vo.Order_detail" alias="Order_detailVO" />
		<typeAlias type="com.sesoc.team2.vo.Order_list" alias="Order_listVO" />
		 	
			

		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/membermapper.xml" />
		<mapper resource="mapper/blogPostMapper.xml" />
		<mapper resource="mapper/cartmapper.xml" />
		<mapper resource="mapper/messageMapper.xml" />
		<mapper resource="mapper/blogMainMapper.xml" />
		<mapper resource="mapper/apiMapper.xml" />
		<mapper resource="mapper/bookMapper.xml" />
		<mapper resource="mapper/followMapper.xml" />
		<mapper resource="mapper/serviceMapper.xml" />
		<mapper resource="mapper/reviewMapper.xml" />
		
	</mappers>
</configuration>
 