<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sesoc.team2.vo.User_infoVO" alias="User_infoVO"/> 
		<typeAlias type="com.sesoc.team2.vo.BlogPost" alias="BlogPostVO"/> 
		<typeAlias type="com.sesoc.team2.vo.PostComment" alias="PostCommentVO"/> 
		<typeAlias type="com.sesoc.team2.vo.cart_book" alias="cart_bookVO"/> 
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/membermapper.xml" />
		<mapper resource="mapper/BlogPostMapper.xml" />
		<mapper resource="mapper/cartmapper.xml" />
	</mappers>
</configuration>
