<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.sesoc.team2.dao.BlogMainMapper">

	<select id="list" parameterType="string" resultType="BlogMain">
		select
			post_no
			, user_id
			, post_title
			, post_contents
			, to_char(post_uploaddate, 'YYYY.MM.DD') post_uploaddate
			, post_hits
			, post_originalfile
			, post_savedfile
		from
			blog_post		
		<if test="_parameter != null">
		where 
			post_title like '%' || #{searchText} || '%'
			OR post_contents like '%' || #{searchText} || '%'
		</if>
		order by
			post_no desc
	</select>
	
	<select id="ranklist" resultType="BlogMain">
		select * from(
    		select 
        		user_id 
        		, sum(post_hits)
			from
				blog_post
    		group by grouping sets(user_id)    		
    		order by
            	sum(post_hits) desc)
		where <![CDATA[rownum <= 5]]>
	</select>
	
	<select id="grade" parameterType="BlogMain" resultType="Integer">
		select total from(
			select
				a.user_id
				, sum(b.user_pay_price) as total
			from
				order_list a, user_pay b
			where
				a.order_no = b.order_no
				and (b.user_pay_date between sysdate -365 and sysdate)
			group by grouping sets(a.user_id))
		where user_id = #{user_id}
	</select>	
		
 </mapper>