<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 내 블로그 처리 SQL -->
  <mapper namespace="com.sesoc.team2.dao.BlogPostMapper">
  
  	<!-- 게시글 쓰기 -->
  	<insert id="post_write" parameterType="BlogPostVO">
  		insert into blog_post (
  			post_no
  			, post_title
  			, post_contents
  			, post_uploaddate
  			, user_id
  			)
  		values(
  			post_no_seq.nextval
  			, #{post_title}
  			, #{post_contents}
  			, sysdate
  			, #{post_id}
  			)
  	</insert>
  	
  	<!-- 게시글 목록 읽기 -->
  	<select id="postlist" resultType="BlogPostVO">
  		select
  			post_no
  			, post_title
  			, post_contents
  			, post_uploaddate
  			, post_hits
  		from
  			blog_post
  		order by
  			post_no desc
  	</select>
  	
  	<!-- 게시글 하나 읽기 -->
  	<select id="one_post" parameterType="int" resultType="BlogPostVO">
  	select
  		*
  	from
  		blog_post
  	where
  		post_no = #{post_no}
  	</select>
  	
  	<!-- 게시글 삭제 -->
  	<delete id="post_delete" parameterType="BlogPostVO">
		delete
		from
			blog_post
		where
			post_no = #{post_no}
			and post_id = #{post_id}
	</delete>
	
	<!-- 조회수 1 증가 -->
	<update id="add_hits" parameterType="int">
		update
			blog_post
		set
			post_hits = post_hits + 1
		where
			post_no = #{post_no}
	</update>
	
  </mapper>