<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.sesoc.team2.dao.BookInfoMapper">

<!-- 책 게시글 읽기 -->
<select id="getBook" parameterType="BookVO" resultType="BookVO"> <!-- resultType은 셀렉트 구문에서 쓰이는데, alias 이름으로! -->
	select 
		book_no
		, book_title
		, book_isbn	 				--ISBN 번호 
		, book_author	 			--저자 이름
		, book_public 				--출판사
		, book_price 				--가격
		, book_image 				--책 표지
		, book_contents				--책 내용
		, book_inputdate 			--출판일자
		, book_stock				--책 재고량
		, book_reward				--책 추천수
	from 
		Book_info
	where 
		book_no = #{book_no}
</select>

<!-- 전체 글 개수 (검색 필터링 후) -->
<select id="getTotal" parameterType="BookVO" resultType="int"> <!-- mybatis에서 alias는 parameterType과 동일! -->
	select 
		count(*)
	from 
		book_info 
	<if test="_parameter != null">
	where 
		book_title like '%' || #{searchText} || '%'
	</if>
</select>

<!-- 현재 페이지 목록 (검색 필터링 후) -->
<select id="listBook" parameterType="String" resultType="BookVO">
	select 
		book_no
		, book_title
		, book_author
		, book_contents
		, book_image
		, book_price 
		, book_public
	from 
		book_info
	<if test="_parameter != null">
	where 
		book_title like '%' || #{searchText} || '%'
	</if>
	order by book_no desc
</select>

<!-- 현재 페이지 목록 (검색 필터링 후) -->
<select id="bookListUp" parameterType="String" resultType="BookVO">
	select 
		book_no
		, book_title
		, book_author
		, book_contents
		, book_image
		, book_price
		, book_public
	from 
		book_info
	<if test="_parameter != null">
	where 
		book_title like '%' || #{bookname} || '%'
	or 
		book_author like '%' || #{bookname} || '%'
	</if>
	order by book_no desc
</select>


</mapper>