<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.team2.dao.CartMapper">


<select id ="list" resultType="cart_bookVO">
	select * from book_info
</select>

<select id ="cartbook" parameterType="String" resultType="cart_bookVO" >
select book_isbn, book_price, book_title from book_info where book_isbn = #{book_isbn}
</select>

<select id ="selectuser_cart_no" parameterType="String" resultType="int">
select user_cart_no from USER_cart where user_id = #{user_id1}
</select> 


<select id ="list1" resultType="cart_bookVO" parameterType="String">
select * 
from cart_book cb, user_cart uc 
where cb.user_cart_no = uc.user_cart_no 
and uc.user_id = #{user_id1}
</select>

<select id="total" parameterType="int" resultType="int">
select 
    NVL(sum(book_price*cart_book_count),0) 
from cart_book
<!-- where user_cart_no = #{user_cart_no} -->
</select>

<insert id ="insertcart_book" parameterType="cart_bookVO">
insert into cart_book 
(
cart_book_no
,cart_book_inputdate
,cart_book_count
,book_isbn
,user_cart_no
,book_price
,book_title
)
values (
cart_book_seq.nextval
,sysdate
,1
,#{book_isbn}
,#{user_cart_no}
,#{book_price}
,#{book_title}
)
</insert>

<!-- 글 삭제 -->
<delete id="deletecart" parameterType="int" >
	delete
	from
		cart_book
	where
		cart_book_no = #{cart_book_no}
</delete>

<!-- 글 수정 -->
<update id="update" parameterType="int">
		update
			cart_book
		set
			cart_book_count = #{cart_book_count}
		where
			cart_book_no = #{cart_book_no}
	</update> 

</mapper>