<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.team2.dao.CartMapper">


<select id ="list" resultType="cart_bookVO">
	select * from book_info
</select>

<select id ="wishlist" resultType="user_wishlistVO">
	select * from book_info
</select>

<select id ="cartbook" parameterType="String" resultType="cart_bookVO" >
			select 	
				book_isbn
				, book_price
				, book_title 
			from 	
				book_info 
			where 
				book_isbn = #{book_isbn}
</select>

<select id ="select_wish_book" parameterType="String" resultType="cart_bookVO">
select book_isbn, book_price, book_title from book_info where book_isbn = #{book_isbn}
</select>

<select id ="select_order_book" parameterType="int" resultType="cart_bookVO">
select book_isbn, book_price, book_title from cart_book where user_cart_no = #{user_cart_no}
</select>


<select id ="user_wishlist" parameterType="String" resultType="user_wishlistVO">
select book_isbn from book_info where book_isbn = #{book_isbn}
</select>

<select id ="selectuser_cart_no" parameterType="String" resultType="int">
select user_cart_no from USER_cart where user_id = #{user_id1}
</select> 

<select id ="selectuser_wish_no" parameterType="String" resultType="int">
select user_wish_no from user_wish where user_id = #{user_id1}
</select>

<select id ="select_wish_user_cart_no" parameterType="String" resultType="int">
select user_cart_no from USER_cart where user_id = #{user_id1}
</select> 

<select id ="order_no" parameterType="String" resultType="int">
select order_no from order_list where user_id = #{user_id1}
</select> 

<select id ="Order_num" parameterType="String" resultType="Order_listVO">
select * from order_list where user_id = #{user_id1}
</select> 


<select id ="booktitle" parameterType="String" resultType="String">
select book_title from book_info where book_isbn = #{book_isbn}
</select> 


<select id ="list1" resultType="cart_bookVO" parameterType="String">
select * 
from cart_book cb, user_cart uc 
where cb.user_cart_no = uc.user_cart_no 
and uc.user_id = #{user_id1}
</select>

<select id ="orderlist" resultType="cart_bookVO" parameterType="String">
select * 
from order_detail od, order_list ol 
where od.order_no = ol.order_no 
and ol.user_id = #{user_id1}
</select>

<select id ="wishlist1" resultType="user_wishlistVO" parameterType="String">
select * 
from user_wishlist wl, user_wish uw 
where wl.user_wish_no = uw.user_wish_no 
and uw.user_id = #{user_id1}
</select>

<select id="total" parameterType="int" resultType="int">
select 
   NVL(sum(book_price*cart_book_count),0)
    <!-- sum(book_price*cart_book_count) -->
from cart_book
where user_cart_no = #{user_cart_no} 
</select>

<select id="ordertotal" parameterType="Order_listVO" resultType="int">
select sum(book_price) from Order_detail
where order_no = #{order_no}
</select>

<insert id ="insertcart_book" parameterType="cart_bookVO">
insert into cart_book 
(
cart_book_no
,cart_book_inputdate
,cart_book_count
,book_isbn
,user_cart_no
,book_price
,book_title
)
values (
cart_book_seq.nextval
,sysdate 
,1
,#{book_isbn}
,#{user_cart_no}
,#{book_price}
,#{book_title}
)
</insert>

<insert id ="insertwish_cart" parameterType="user_wishlistVO">
insert into user_wishlist 
(
user_wishlist_no
,user_id
,book_isbn
,user_wish_no
,book_title
)
values (
user_wishlist_no_seq.nextval
,#{user_id}
,#{book_isbn}
,#{user_wish_no}
,#{book_title}
)
</insert>  

<insert id ="gocartinsert" parameterType="cart_bookVO">
insert into cart_book 
(
cart_book_no
,cart_book_inputdate
,cart_book_count
,book_isbn
,user_cart_no
,book_price
,book_title
)
values (
cart_book_seq.nextval
,sysdate 
,1
,#{book_isbn}
,#{user_cart_no}
,#{book_price}
,#{book_title}
)
</insert>

<insert id ="orderdetailinsert" parameterType="cart_bookVO">
insert into order_detail 
(
order_detail_no
,book_price
,order_detail_count
,book_isbn
,order_no
)
values (
order_detail_seq.nextval
,#{book_price}
,#{cart_book_count}
,#{book_isbn}
,#{order_no}
)
</insert>
 
<!-- 글 삭제 -->
<delete id="deletecart" parameterType="int" >
	delete
	from
		cart_book
	where
		cart_book_no = #{cart_book_no}
</delete>

<delete id="deletewish" parameterType="int" >
	delete
	from
		user_wishlist
	where
		book_isbn = #{book_isbn}
</delete>

<delete id="deletewishcart" parameterType="int" >
	delete
	from
		user_wishlist
</delete>

<delete id="deleteorderdetail" parameterType="int" >
	delete
	from
		cart_book
</delete>

<!-- 글 수정 -->
<update id="update" parameterType="int">
		update
			cart_book
		set
			cart_book_count = #{cart_book_count}
		where
			cart_book_no = #{cart_book_no}
	</update>  

<update id="updateorder" parameterType="Order_listVO">
		update
			Order_list
		set
			order_totalprice = #{order_totalprice}
			,order_date = sysdate
			,order_state = '준비중입니다'
		where
			order_no = #{order_no}
	</update> 
	
	<update id="orderaddress" parameterType="Order_listVO">
		update
			Order_list
		set
		   order_address = #{order_address}
		where
			order_no = #{order_no}
	</update>
</mapper>