<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 책 API 불러와서 DB 저장 SQL -->
<mapper namespace="com.sesoc.team2.dao.MainDataMapper">

<!-- 데이터 입력 -->
<!-- <insert id="insert_date" parameterType="BookVO">
		select * from (
		select
			book_image
			, book_title
			, book_author
		, row_number() over (order by book_inputdate DESC) as rank
		from
			book_info
		    )
		where rownum <= 6;
</insert> -->

</mapper>