<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sesoc.team2.dao.MemberMapper">
  

<insert id="insertMember" parameterType="User_infoVO">
insert into user_info 
	(
	 user_id
	,user_pw
	,user_name
	,user_birth
	,user_phone
	,user_address
	,user_genre
	)
					values (
							#{user_id}
							,#{user_pw}
							,#{user_name}
							,#{user_birth}
							,#{user_phone}
							,#{user_address}
							,#{user_genre}
							
							)
</insert>

	<select id="selectMember" parameterType="string" resultType="User_infoVO">
		select * from user_info where user_id = #{user_id} 
	</select>
	
	<select id="getMemberid" parameterType="string" resultType="User_infoVO">
	select * from user_info where user_id = #{user_id}
	</select>
	
	<insert id ="insertusercart" parameterType="User_infoVO">
	insert into user_cart
	(
	user_cart_no
	,user_id
	) values (
	member_seq.nextval,
	#{user_id}
	)
	</insert>
	
	<insert id ="insertwishcart" parameterType="User_infoVO">
	insert into user_wish
	(
	user_wish_no
	,user_id
	) values (
	member_seq.nextval,
	#{user_id}
	)
	</insert>
	
	<insert id ="insertordercart" parameterType="User_infoVO">
	insert into order_list
	(
	order_no
	,user_id
	) values (
	member_seq.nextval
	,#{user_id}
	)
	</insert>
	<update id="updatemember" parameterType="User_infoVO">
update 
	user_info 
set 
	user_name = #{user_name}
	,user_birth = #{user_birth}
	,user_phone = #{user_phone}
	,user_address = #{user_address}
	,user_genre = #{user_genre}
	<if test="user_pw != null and user_pw !=''">
	,user_pw = #{user_pw}
	</if>
where 
	user_id = #{user_id}
</update>
</mapper>