<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.sesoc.team2.dao.MessageMapper">
   
   <!-- 메시지를 쓰면 저장 -->
   <insert id="message_new" parameterType="messageVO" >
   		insert into message(
   			message_no
   			,	message_sent_id
   			,	message_recv_id
   			,	message_contents
   			, 	message_date
   			)
   		values(
   			message_seq.nextval
   			,	#{message_sent_id}
   			,	#{message_recv_id}
   			,	#{message_contents}
   			,	sysdate
   			)
   </insert>
   
   <select id="message_list" parameterType="String" resultType="messageVO">
   	<!-- 로그인 한 값 받아와야해 그리고 또 값을 내보내야해 -->
   		select
   			message_no
   			,	message_contents
   			,	message_date
   			, 	message_sent_id
   			,	message_recv_id
   		from
   			message
   		where
   			message_sent_id = #{loginiddd}
   		order by
   			message_no desc
   </select>
   
   <select id="one_message" parameterType="int" resultType="messageVO">
   		select
			*
		from
			message
		where
			message_no = #{message_no}  			
   </select>
   
   <update id="add_message_hits" parameterType="messageVO">
   		update
   			message
   		set
   			message_hits = message_hits + 1
   		where
   			 message_no = #{message_no}
   </update>
<!--  이따가 보낸 메시지  select
   			message_no
   			,	message_contents
   			,	message_date
   			, 	message_sent_id
   			,	message_recv_id
   		from
   			message
   		where
   			message_recv_id = 'bbb'
   		order by
   			message_no desc -->
   			
   			
   </mapper>