<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 리뷰 불러와서 DB 저장 SQL -->
<mapper namespace="com.sesoc.team2.dao.ServiceMapper">
	<!-- 모든 회원정보 조회 -->
	<select id="idList" resultType="User_infoVO" parameterType="String">
		select * from user_info
		where user_id != #{id}
	</select>

	<!-- 채팅방 생성 -->
	<insert id="insertChatroom" parameterType="String">
		insert into chatroom(chatroom_id) values (#{ids})
	</insert>
	
	<!-- 모든 채팅방 조회 -->
	<select id="roomlist" resultType="chatroom" parameterType="String">
		select * from chatroom where 
		chatroom_id like '%' || #{id} || '%'
	</select>
	
	<!-- 채팅 기록 -->
	<insert id="insertchat" parameterType="chat">
		insert into chat(
			chat_id,
			chat_message,
			chat_time,
			chatroom_id,
			user_id
		) values (
			chat_seq.nextval,
			#{chat_message},
			#{chat_time},
			#{chatroom_id},
			#{user_id}
		)
	</insert>
	
	<!-- 채팅 입력시 채팅룸 DB에 마지막채팅 업뎃 -->
	<update id="updatelastchat" parameterType="chat">
		update
			chatroom
		set
  			chatroom_lastid = #{user_id}
  			, chatroom_lastchat = #{chat_message}
  			, chatroom_lastchattime = #{chat_time}
  		where
  			chatroom_id = #{chatroom_id}
	</update>
	<!-- 모든 채팅 조회 -->
	<select id="allchat" resultType="chat">
		select * from chat
	</select>
	
	<!-- 모든 과거채팅 조회 -->
	<select id="chatlist" resultType="chat" parameterType="String">
		select * from chat where
		chatroom_id = #{roomid}
	</select>
	
	<!-- id검색 -->
	<select id="idsearch" resultType="User_infoVO" parameterType="searchid">
		select * from user_info
		where user_id != #{user_id} and user_id like '%' || #{searchtext} || '%'
	</select>
	
	<!-- 유저 삭제 -->
  	<delete id="deleteuser" parameterType="String">
		delete
		from
			user_info
		where
			user_id = #{user_id}
	</delete>
	
	<!-- 모든 책 조회-->
	<select id="bookList" resultType="bookVO">
		select * from book_info 
	</select>
	
	<!-- 유저 삭제 -->
  	<delete id="deletebook" parameterType="String">
		delete
		from
			book_info
		where
			book_isbn = #{deletebook}
	</delete>
	
	<!-- 모든 게시글 조회-->
	<select id="postList" resultType="BlogPostVO">
		select * from blog_post 
	</select>
	
	<!-- 게시글 삭제 -->
  	<delete id="deletepost" parameterType="int">
		delete
		from
			blog_post
		where
			post_no = #{deletepost}
	</delete>
	
	<!-- 모든 댓글 조회-->
	<select id="commentList" resultType="PostCommentVO">
		select * from post_comment 
	</select>
	
	<!-- 댓글 삭제 -->
  	<delete id="deletecomment" parameterType="int">
		delete
		from
			post_comment
		where
			post_comment_no = #{deletecomment}
	</delete>
</mapper>