<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 리뷰 불러와서 DB 저장 SQL -->
<mapper namespace="com.sesoc.team2.dao.ServiceMapper">
	<!-- 모든 회원정보 조회 -->
	<select id="idList" resultType="User_infoVO">
		select * from user_info
	</select>

	<!-- 채팅방 생성 -->
	<insert id="insertChatroom" parameterType="String">
		insert into chatroom(chatroom_id) values (#{ids})
	</insert>
	
	<!-- 모든 채팅방 조회 -->
	<select id="roomlist" resultType="chatroom" parameterType="String">
		select * from chatroom where 
		chatroom_id like '%' || #{id} || '%'
	</select>
	
	<!-- 채팅 기록 -->
	<insert id="insertchat" parameterType="chat">
		insert into chat(
			chat_id,
			chat_message,
			chat_time,
			chatroom_id,
			user_id
		) values (
			chat_seq.nextval,
			#{chat_message},
			#{chat_time},
			#{chatroom_id},
			#{user_id}
		)
	</insert>
</mapper>